@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: Hele;
  src: url(../font/HelveticaNeue.ttf);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
}

nav ul li:last-child {
  margin-right: 24px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #ac4c1b;
  opacity: 0;
  transition: all 0.2s ease;
}

.nav-wrapper ul {
  float: right;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}

.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.5s;
}

.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  transition: all 0.2s ease;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #ac4c1b;
  border-radius: 2px;
  margin-left: 14px;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
      -ms-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
      -ms-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.cover {
  background-image: url(../img/cover1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#hero-table {
  padding-top: 5em;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#myimage {
  border-radius: 50%;
  border: 4px solid #fff;
}

#about {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  margin: 0;
}

td {
  padding: 0;
}

.name {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.social {
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
}

.social:hover {
  opacity: 1;
}

.about a {
  text-decoration: none;
  color: #ac4c1b;
  cursor: pointer;
}

.about a:hover {
  text-decoration: underline;
}

.about {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  width: 45%;
  font-size: 20px;
}

@media (max-width: 1100px) {
  .about {
    width: 50%;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .about {
    width: 45%;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .about {
    width: 80%;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .about {
    width: 80%;
    font-size: 15px;
  }
}

.project {
  padding-top: 150px;
  font-size: 4.5em;
  color: #ac4c1b;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 580px) {
  .project {
    padding-top: 100px;
    font-size: 3.5em;
  }
}

@media (max-width: 240px) {
  .project {
    padding-top: 50px;
    font-size: 3.5em;
  }
}

#project {
  background-image: url(../img/project.png);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#elarte {
  width: 100%;
  height: 100%;
}

.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  margin-top: -50px;
  margin-left: -80px;
  margin-right: -80px;
  margin-bottom: -50px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

@media (max-width: 500px) {
  .iphone {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

@media (max-width: 400px) {
  .iphone {
    -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
            transform: scale(0.65);
  }
}

@media (max-width: 360px) {
  .iphone {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 350px) {
  .iphone {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55);
    margin-bottom: -200px;
  }
}

@media (max-width: 340px) {
  .iphone {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    margin-bottom: -250px;
  }
}

@media (max-width: 300px) {
  .iphone {
    -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
            transform: scale(0.45);
    margin-bottom: -250px;
  }
}

.iphone-top {
  padding: 5px 110px 40px;
  position: relative;
}

.iphone-top .speaker {
  display: block;
  width: 70px;
  height: 6px;
  margin: 0 auto;
  border-radius: 6px;
  background: #292728;
}

.iphone-top .camera {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 13px;
  background: #333;
}

.iphone-top .sensor {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background: #333;
  margin-top: -5px;
  border-radius: 50%;
}

.top-bar, .bottom-bar {
  display: block;
  width: 423px;
  height: 15px;
  border-left: 5px solid #BBB;
  border-right: 5px solid #BBB;
  position: absolute;
  left: -5px;
}

.top-bar {
  top: 65px;
}

.bottom-bar {
  bottom: 65px;
}

.iphone-screen {
  background: #eee;
  border: 1px solid #fff;
  height: 677px;
  width: 375px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  overflow: hidden;
}

.iphone-screen img {
  width: 100%;
}

.buttons .on-off, .buttons .up, .buttons .down, .buttons .sleep {
  display: block;
  background: #CCC;
  position: absolute;
  border-radius: 2px 0px 0px 2px;
}

.buttons .on-off {
  height: 40px;
  width: 3px;
  top: 100px;
  left: -8px;
}

.buttons .up, .buttons .down, .buttons .sleep {
  height: 60px;
  width: 5px;
  left: -10px;
}

.buttons .up {
  top: 170px;
}

.buttons .down {
  top: 250px;
}

.buttons .sleep {
  left: auto;
  right: -10px;
  top: 170px;
  border-radius: 0px 2px 2px 0px;
}

.iphone-bottom {
  padding: 10px 0 0;
}

.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  background: #ccc;
  border-radius: 50%;
  background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  position: relative;
}

.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}

#drawing {
  background-image: url(../img/drawing1.png);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.drawing {
  padding-top: 150px;
  font-size: 4.5em;
  color: #ac4c1b;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 580px) {
  .drawing {
    padding-top: 150px;
    font-size: 3.5em;
  }
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.info1 {
  padding: 40px;
  background-color: #292727;
  color: #fff;
}

@media (min-width: 600px) {
  .info1 {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.info2 {
  padding: 40px;
  background-color: #292727;
  color: #fff;
}

@media (min-width: 600px) {
  .info2 {
    grid-column: span 2;
  }
}

@media (min-width: 600px) {
  .figure1 {
    grid-column: span 3;
    grid-row: span 2;
  }
}

@media (min-width: 600px) {
  .figure2 {
    grid-column: span 1;
  }
}

@media (min-width: 600px) {
  .figure6 {
    grid-column: span 2;
  }
}

.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
  font-weight: lighter;
}

.info-link {
  text-decoration: none;
  color: #ac4c1b;
}

figure {
  margin: 0;
}

.resume {
  background-image: url(../img/resume1.png);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.resumeicon {
  color: #000;
  transition: all ease-in-out 250ms;
  opacity: 0.7;
}

.resumeicon:hover {
  color: #ac4c1b;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

i.resumeicon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 0.3em 0.4em;
  box-shadow: 0px 0px 2px #888;
}

i.resumeicon:hover {
  border: 1px solid #ac4c1b;
}

.resumee {
  padding-top: 125px;
  font-size: 4.5em;
  color: #ac4c1b;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 580px) {
  .resumee {
    padding-top: 100px;
    font-size: 3.5em;
  }
}

@media (max-width: 300px) {
  .resumee {
    padding-top: 30px;
    font-size: 3.5em;
  }
}
