@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
}

nav ul li:last-child {
  margin-right: 24px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  opacity: 0;
  transition: all 0.2s ease;
}

.nav-wrapper ul {
  float: right;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}

.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.5s;
}

.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  transition: all 0.2s ease;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  margin-left: 14px;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
      -ms-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
      -ms-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.cover {
  background-image: url(../img/cover1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#hero-table {
  padding-top: 5em;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#myimage {
  border-radius: 50%;
  border: 4px solid #fff;
}

#about {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin: 0;
}

td {
  padding: 0;
}

.name {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.social {
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
}

.social:hover {
  opacity: 1;
}

.about a {
  text-decoration: none;
  color: #ac4c1b;
  cursor: pointer;
}

.about a:hover {
  text-decoration: underline;
}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media (max-width: 1000px) {
  .about {
    width: 80%;
  }
}
