#drawing
  background-image: url(../img/drawing1.png)
  height: 60vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

.drawing
  padding-top: 175px
  font-size: 4.5em
  color: #ac4c1b
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
  @media (max-width: 580px)
    padding-top: 150px
    font-size: 3.5em
