#hero-table
  padding-top: 7em
  align-items: center
#myimage
  border-radius: 50%
  border: 4px solid #fff
#about
  text-align: center
  font-family: Poppins
  font-weight: 800
  font-size: 20px
  color: #fff
  margin: 0
td
  padding: 0
.name
  text-align: center
  font-family: 'Roboto', sans-serif
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
  font-weight: 800
  font-size: 40px
  color: #fff
  margin: 0
.social
  cursor: pointer
  color: #fff
  opacity: 0.5
  &:hover
    opacity: 1
