<include-section
    title="Find me on these platforms."
    link="contact"
></include-section>
<div class="c-contact">
    <a href="https://github.com/ragarwalll" target="_blank" class="u-link-clean"
        >GitHub</a
    >
    ⊙
    <a
        href="https://www.linkedin.com/in/ragarwalll/"
        target="_blank"
        class="u-link-clean"
        >LinkedIn</a
    >
    ⊙
    <a
        href="mailto:contact@therahulagarwal.com"
        target="_blank"
        class="u-link-clean"
        >contact@therahulagarwal.com</a
    >
    ⊙
    <a
        href="mailto:agarwal.rahul324@gmail.com"
        target="_blank"
        class="u-link-clean"
        >agarwal.rahul324@gmail.com</a
    >
    ⊙
    <a
        href="https://bsky.app/profile/therahulagarwal.com"
        target="_blank"
        class="u-link-clean"
        >BlueSky</a
    >
    ⊙
    <a
        href="https://www.instagram.com/rahulllagarwalll/"
        target="_blank"
        class="u-link-clean"
        >Instagram</a
    >
</div>
